@keyframes driebit {
    0% {
        filter: sepia(0) saturate(2) grayscale(30%);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        filter: sepia(1) saturate(3) grayscale(10%);
        transform: scale(0.95);
        opacity: 0.7;
    }  
    100% {
        filter: sepia(0) saturate(2) grayscale(30%);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.3;
    }
}

.list-enter-active, .list-leave-active {
    transition: all 1.5s ease-in;
}
.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(-3em);
}

.fadein-enter-active, .fadein-leave-active {
    transition: all 0.3s;
    animation: none;
}
.fadein-enter, .fadein-leave-to {
    opacity: 0;
}
